.anouncementCard {
    width: 25rem;
    height: 32rem;
    background-size: cover;
    position: relative;
    display: flex;
}

.anouncementContent {
    color: inherit;
}

.anouncementHeading {
    color: inherit;
}

.anouncementHeading p {
    position: absolute;
    font-family: 'BankGothicMdBT';
    font-style: normal;
    left: 1.5rem;
    right: 1.5rem;
    top: 2.75rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 115.8%;
    text-align: center;
    text-transform: uppercase;
    color: inherit;
}

.anouncementDescription {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 125.3%;
    left: 2.3125rem;
    right: 2.3125rem;
    margin: auto;
    top: 7.75rem;
    letter-spacing: -0.045em;
    color: #FFFFFF !important;
}

.anouncementDetails {
    display: flex;
    position: absolute;
    flex-direction: row;
    gap: 1.5rem;
    left: 5.375rem;
    top: 16.125rem;
    color: inherit;
}

.fields h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 145.8%;
    letter-spacing: -0.045em;
    text-transform: capitalize;
    color: inherit;
}

.fields {
    color: inherit;
}

.anouncementValues h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 145.8%;
    align-items: center;
    letter-spacing: -0.045em;
    text-transform: capitalize;
    color: #FFFFFF !important;
}

.anouncementNote {
    position: absolute;
    width: 17.0625rem;
    height: auto;
    top: 21.8125rem;
    right: 3.125rem;
    text-align: center;
    color: inherit;
}

.anouncementNote h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 125.3%;
    letter-spacing: -0.045em;
    text-transform: capitalize;
    color: inherit;
}

.carouselBox {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 960px) {
    .carouselBox {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1500px) {
    .anouncementCard {
    width: 20rem;
    height: 25rem;
    background-size: cover;
    position: relative;
    display: flex;
    }
}