.filter p {
    font-family: BankGothicMdBT, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 103.6%;
    top: 16.375rem;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    color: #ffffff;
}

.filter img {
    line-height: 56.29%;
    width: 1.875rem;
    top: 16.0625rem;
    right: 8.375rem;
    height: 2.11rem;
}

.filter {
    display: flex;
    flex-direction: row;
    gap: 1.53125rem;
}

// .filterDropDown {
//     position: relative;
// }


.filterMenu {
    display: none;
    flex-direction: column;
    width: 16rem;
    height: 12rem;
    position: absolute;
    margin-left: -6rem;
    background-size: cover;
    background: url("../../public/images/filterBackground.svg");

}

.filterDropDown:hover .filterMenu {
    display: flex;
}

.filterDropDown:hover .filter p {
    color: #FFFFFF;
    opacity: 0.2;
}

.easy {
    height: 2.4rem;
    width: 100%;
    border: 0.2rem solid white;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom: 0rem solid white;
    opacity: 1;
    cursor: pointer;
    background: transparent;

}

.medium,
.hard,
.claimed {
    height: 2.4rem;
    width: 100%;
    border: 0.2rem solid white;
    border-bottom: 0rem solid white;
    background: transparent;
    cursor: pointer;
}

.unclaimed {
    background: transparent;
    height: 2.4rem;
    width: 100%;
    border: 0.2rem solid white;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: 0.2rem solid white;
    font-size: 1rem;
    cursor: pointer;
}

.filterMenu button div {
    padding-left: 1.125rem;
    font-family: 'BankGothicMdBT';
    font-style: normal;
    font-weight: 400;
    font-size: 1.375rem;
    letter-spacing: -0.045em;
    text-transform: uppercase;
    text-align: left;
}