
.role,
.capitalised {
  font-family: BankGothicLtBT;
  font-style: normal;
  display: block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 97.69%;
  letter-spacing: -0.045em;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0);
  color: #cfcdcd;
  text-align: center;
}

.edit {
  background: rgba(0, 0, 0, 0);
}

.profile-page-content {
  display: flex;
  width:30rem;
  justify-content: space-around;
  height: max-content;
  margin-left: 6.375rem;
  height: 55.8125rem;    
  margin-top: 1rem;    
}

.profile {
  display: flex;
  flex-direction: row;
}

.split_right {
  height: auto;
  padding-left: 6rem;
  margin-top: 4rem;  
}

.merge_request {
  font-size: 4rem;
  text-shadow: 2px 2px 10px #f8f6f6;
  margin:0rem;
  padding-bottom: 2.6875rem;
}

.pending_request{
  font-size: 4rem;
  text-shadow: 2px 2px 10px #f8f6f6;
  margin: 0rem;
  padding-top: 3.75rem;
}

.profile_issues {
  margin-top: 5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 6%;
}

.profile_issues p {
  font-style: normal;
  font-weight: 400;
  font-size: 59.5169px;
  line-height: 97.69%;
}


@media only screen and (max-width: 1024px) {
  .profile{
    flex-direction: column;
  }
  .split_right{
    padding-left: 4rem;
  }
}

@media only screen and (max-width: 576px) {
  .merge_request,.pending_request {
    font-size: 2.5rem;
  }
}