.repobox {
  border: 0.125rem solid #fff;
  border-radius: 1rem;
  min-height: 10.5rem;
  height: auto;
  width: auto;
  margin-right: 2rem;
  position: relative;
  text-transform: uppercase;
  //background: linear-gradient(90deg, rgba(50, 18, 138, 0.207) 0%, rgba(80, 41, 189, 0.207) 0.01%, rgba(170, 28, 100, 0.237) 58.85%, rgba(233, 69, 96, 0.3) 100%), linear-gradient(90deg, #1D0F44 0%, #3D0E3D 100%);
}

.cardTag {
  min-width: 8.8125rem;
  width: auto;
  height: 2.065rem;
  border-radius: 0.8rem 0 0.8rem 0;
  background-color: #ffffff;
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 1.25rem;
  font-weight: 400;
  color: #1D0F44;
  letter-spacing: 0em;
  line-height: 135.3%;
  text-align: center;
  text-transform: uppercase;
  font-family: BankGothicMdBT;
}

.issueDetails {
  display: flex;
  flex-direction: row;
}

.issue {
  font-family: BankGothicMdBT;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135.3%;
  letter-spacing: 0em;
  text-align: center;
  top: 2.875rem;
  left: 2.8125rem;
  position: absolute;
}

.repodialogue {
  align-items: center;
  padding: 1.5rem;
  margin-left: 6.375rem;
  margin-right: 4.5rem;
  background-color: 0.125rem solid #fff;
  // width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: 0.125rem solid #fff;
  border-radius: 0.5rem;
  border: 0.125rem solid #fff;
  box-shadow: 0 0 0.5rem #fff;
  background-color: #1a1a1a;
  background-image: url("../../public/download.jpg");
  height: 50rem;
  font-size: 1.5rem;
}

.description {
  color: #fff;
  text-align: center;
}

.mentor {
  font-family: BankGothicMdBT;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135.3%;
  letter-spacing: 0em;
  top: 5.625rem;
  left: 2.8125rem;
  position: absolute;
  color: #FFE600;
}

.assignee {
  font-family: BankGothicMdBT;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135.3%;
  letter-spacing: 0em;
  top: 5.625rem;
  left: 2.8125rem;
  position: absolute;
  color: #FFE600;
}

.scroll {
  width: 97%;
  overflow-y: scroll;
  padding-top: 2.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.scroll::-webkit-scrollbar {
  width: 7px;
  inset: 0 3px 0;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}
