.repodialogue {
  align-items: center;
  padding: 1.5rem;
  margin-left: 6.375rem;
  margin-right: 4.5rem;
  background-color: 0.125rem solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  border: 0.125rem solid #fff;
  box-shadow: 0 0 0.5rem #fff;
  // background-color: #1a1a1a;
  background-image: url("../../public/download.jpg");
  height: 50rem;
  font-size: 1.5rem;
}

.repobox {
  border: 0.125rem solid #fff;
  border-radius: 1rem;
  height: auto;
  width: auto;
  margin-right: 2rem;
  position: relative;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.cardTag {
  min-width: 8.8125rem;
  width: auto;
  height: 2.065rem;
  border-radius: 0.8rem 0 0.8rem 0;
  background-color: #ffffff;
  position: absolute;
  font-size: 1.25rem;
  font-weight: 400;
  color: #1D0F44;
  letter-spacing: 0em;
  line-height: 135.3%;
  text-align: center;
  text-transform: uppercase;
  font-family: BankGothicMdBT;
}

.issueDetails {
  display: flex;
  flex-direction: column;
  margin-top: 2.875rem;
  margin-left: 2.875rem;
  margin-right: 2.875rem;

}

.issue {
  font-family: BankGothicMdBT;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135.3%;
  letter-spacing: 0em;
  text-align: center;
}

.mentor {
  font-family: BankGothicMdBT;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135.3%;
  letter-spacing: 0em;
  color: #FFE600;
  margin-top: 1.0625rem;
  min-width: 16rem;
}

.assignee {
  font-family: BankGothicMdBT;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 135.3%;
  letter-spacing: 0em;
  color: #FFE600;
  margin-top: 0rem;
  margin-bottom: 0.8125rem;
}

.buttonWrap {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 0.5rem;

  button {
    position: absolute;
    // margin-left: 60rem;
    margin-top: 2.5%;
    margin-bottom: 1.875rem;
    right: 1rem;
    bottom: -0.5rem;
  }
}


.scroll {
  width: 97%;
  overflow-y: scroll;
  padding-top: 2.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}

.scroll::-webkit-scrollbar {
  width: 7px;
  inset: 0 3px 0;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.3);
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 576px) {
  .repodialogue {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    height: 30rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }

  .cardTag {
    font-size: 1.2rem;
    min-width: 7rem;
  }

  .repobox {
    height: fit-content;
    margin-right: 0.5rem;
  }

  .scroll {
    width: 100%;
    padding-top: 1.75rem;
    margin: 0rem;
    padding: 0rem;
  }

  .issueDetails {
    margin-left: 0.6rem;
    margin-right: 0.6rem;

    .issue {
      font-size: 1rem;
    }

    .mentor,
    .assignee {
      font-size: 1.2rem;
    }
  }

  .buttonWrap {
    text-align: center;
    flex-direction: column;
    align-items: center;

    button {
      margin-left: 0%;
      margin-top: 2%;
      margin-bottom: 1.875rem;
      width: 10rem;
      height: 2.5rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .buttonWrap {
    text-align: center;
    flex-direction: column;
    align-items: center;

    button {
      position: relative;
    }
  }
}